{% extends "base.html" %}
{% load static %}
<html>
    <body>
        {% block contenido %}
        <div class="agregar-alumnos-contenedor">
            <h1 class="titulo">
                Agregar alumnos
            </h1>
            <p class="descripcion">
                subí un archivo en formato csv con los siguientes campos: "nombre", "apellido" "dni"
            </p>
            <form class="formulario" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <input class="boton" type="submit" value="SUBIR">
            </form>
        </div>
        {% endblock contenido %}
    </body>
</html>